<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">
    <label for="name" >Nombre</label>
    <input type="text" name="name">
    <br>
    <label for="propellers">Propulsores</label>
    <input type="text" name="propellers">
    <br>
    <label for="maxSpeed">Velocidad</label>
    <input type="text" name="maxSpeed">
    <br>
      <button>Añadir</button>  
</form>